.header {
    width: 60vw;
    // align-self: flex-end;
    border-radius: 10px;
    background-color: #3f5c414d;
    color: #fff;

    nav {
        width: 100%;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            max-width: 60vw;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;

            li {
                font-weight: bold;
            }
        }
    }
}